*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/build
build/
.idea/
app/app.iml
italki_android.iml
.DS_Store
app/class_files.txt
app/mapping.txt
app/seeds.txt
app/unused.txt
.hprof
gradle.properties
